<div class="container mb-10">
  <div class="row">
    <div class="col">
      <p class="display-4 text-center">Contact Us</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h2>Customer support</h2>

      <p>Access our live customer support<br/>(bottom right and find help guides at <i class="fa fa-info-circle"></i> help.spend.io)</p>

      <h2>Contacts</h2>

      <p>Customer support: <i class="fa fa-envelope-o"></i> help@spend.io<br/>
      Partner and business enquiries: partnerships@spend.io<br/>
      Media: media@spend.io<br/>
      Investors: investor@spend.io</p>
      <p><i class="fa fa-phone"></i> +1 (416)-123-4567</p>
    </div>
    <div class="col">
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <div class="input-group mb-4">
            <span class="input-group-addon fa fa-user" id="basic-addon1"></span>
            <input type="text" class="form-control" id="name">
          </div>
          <label for="email">Email</label>
          <div class="input-group">
            <span class="input-group-addon fa fa-envelope" id="basic-addon1"></span>
            <input type="text" class="form-control" id="email">
          </div>
          <div class="mt-4">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" rows="6"></textarea>
          </div>
          <div class="mt-4">
            <button class="btn btn-success form-control" type="submit">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="fixed-bottom">
  <ry-footer></ry-footer>
</div>
