<div class="container">
  <div class="row">
    <div class="col">
      <p class="display-4 text-center animated slideInDown">How Spend! works for you</p>
      <p class="lead text-center">Remove the pain of recording and managing your expenses. Forget about filling in forms, dealing with receipts, and not knowing what is being spent. Simply pay for your expenses with your Spend! card and let Spend! do the rest.</p>
      <img class="img-fluid d-block mx-auto animated slideInUp" src="assets/images/spend-flow.png" alt="">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-sm-4">
      <p class="text-center"><i class="fa fa-bolt fa-4x icon-gold" aria-hidden="true"></i></p>
      <p class="h4 text-center">Super efficent</p>
      <p class="lead text-center">A real-time company offering a first-class integration with your accounting software.</p>
    </div>
    <div class="col-12 col-sm-4">
      <p class="text-center"><i class="fa fa-check fa-4x icon-gold" aria-hidden="true"></i></p>
      <p class="h4 text-center">You're in control</p>
      <p class="lead text-center">Simple pricing, with no hidden fees or nasty tie-ins. Plus a no obligation free trial.</p>
    </div>
    <div class="col-12 col-sm-4">
      <p class="text-center"><i class="fa fa-plane fa-4x icon-gold" aria-hidden="true"></i></p>
      <p class="h4 text-center">Travel friendly</p>
      <p class="lead text-center">No transaction fee's and free to use abroad with 0% markup on foreign purchases.</p>
    </div>
  </div>
</div>
<div class="page-color py-5 mt-5">
  <div class="row">
    <div class="col">
      <img class="w-50 d-block mx-auto my-5" src="assets/images/how-why/spend-robot.png" alt="">
      <p class="display-4 text-center mb-4">We'll do the heavy lifting</p>
      <p class="lead text-center">With Spend!, the transaction information is instantly captured in the app, ready to review and submit. Everything is automatically synced to your accounting package, saving time, removing errors and reducing hassle, so that you can get on with doing the work that really matters.</p>
      <p class="text-center mt-3"><button class="btn btn-primary">Vist Our Help Portal</button></p>
    </div>
  </div>
</div>
<ry-key-features-page></ry-key-features-page>
<div class="page-color p-5 mt-5">
  <div class="row py-5">
    <div class="col-8">
      <p class="display-4">Your expenses made easy</p>
      <p class="lead">No more hours spent on manual form filling and sky-high piles of receipts. Our easy expensing solution works with a payment card, mobile app and online dashboard to save you time and offer closer control on business spending. Travel smart with Spend's 0% foreign exchange markup for money-saving spending anywhere in the world.</p>
    </div>
    <div class="col-4">
      <img class="img-fluid" src="assets/images/how-why/mobile-1.png" alt="">
    </div>
  </div>
  <div class="row py-5">
    <div class="col-4">
      <img class="img-fluid" src="assets/images/how-why/mobile-2.png" alt="">
    </div>
    <div class="col-8">
      <p class="display-4">Increase business efficiency</p>
      <p class="lead">Top up and pay with your Spend! card to trigger real-time payment notifications ready for you to expense. No more form filling or tracking down lost receipts. Spend! is powered by an accounting focused financial system which lets you get on with running your business. Use our online dashboard to easily order, monitor and manage your cards.</p>
    </div>
  </div>
</div>
<div class="mb-5">
  <ry-common-question-page></ry-common-question-page>
</div>
<div class="page-color p-5 mt-5">
  <div class="row py-5">
    <div class="col">
      <p class="display-4 text-center">What people are saying!</p>
      <img class="img-fluid d-block mx-auto" src="assets/images/how-why/talk-bubbles.png" alt="">
    </div>
  </div>
</div>
<div class="container-fluid my-5">
  <div class="row">
    <div class="col">
      <p class="display-4 text-center">
        What are you waiting for?
      </p>
      <p class="lead text-center">Find a handy selection of help guides at help.spend.io. Contact us via our live support (bottom right) or via spend.io/contact</p>

      <p class="lead text-center">Try Spend! for free and enjoy a lifetime of easy expenses</p>
      <p class="text-center"><a class="btn btn-primary" routerLink="/free-trial">Start You Free Trail</a></p>
      <img class="img-fluid d-block mx-auto pt-5" src="assets/images/how-why/spend-robot-card.png" alt="">
    </div>
  </div>
</div>
<ry-footer></ry-footer>
