<div class="container-fluid">
  <div class="row my-5">
    <div class="col-md col-sm-12">
      <div class="display-4">Spending made <b>easy</b></div>
      <p class="mt-3 lead">A smart payment card solution that automates expenses and makes your spending simple to manage.</p>
      <a class="btn btn-success" routerLink="/free-trial">Get Started</a>
    </div>
    <div class="col-md col-sm-12">
      <img class="img-fluid pr-3" src="./assets/images/landing-main.png">
    </div>
  </div>
  <div class="row mt-6">
    <div class="col">
      <img class="img-fluid d-block mx-auto" src="./assets/images/company-logos.png" alt="">
      <p class="text-center mt-3 text-soft mb-5">We save you valuable time by integrating with your accounting platform</p>
    </div>
  </div>
</div>
<div class="page-color py-5 px-4">
  <div class="row mb-5">
    <div class="col display-4 text-center">Spend! is perfect for ...</div>
  </div>
  <div class="row">
    <div class="col-md col-sm-12">
      <img class="img-fluid w-75 mb-3 mx-auto d-block" src="./assets/images/business-icon.png" alt="">
      <h4 class="text-center">Businesses</h4>
      <p class="mt-3 text-center">No matter the size of your business, improving the expense process saves time and money. You can easily issue expense
        cards and manage everything in one place.</p>
    </div>
    <div class="col-md col-sm-12">
      <img class="img-fluid w-75 mb-3 mx-auto d-block" src="./assets/images/accountant-icon.png" alt="">
      <h4 class="text-center">Accountants &amp; Bookkeepers</h4>
      <p class="mt-3 text-center">Spend helps accountants and bookkeepers by reducing errors and providing seamless real-time recording of expenses into
        existing accounting packages.</p>
    </div>
    <div class="col-md col-sm-12">
      <img class="img-fluid w-75 mb-3 mx-auto d-block" src="./assets/images/personal-icon.png" alt="">
      <h4 class="text-center">Personal &amp; Families</h4>
      <p class="mt-3 text-center">Individuals can take control of their own and family spending. With better management over their spending, Spend! is
        also the perfect zero-fee travel card.</p>
    </div>
  </div>
</div>
<ry-key-features-page></ry-key-features-page>
<ry-footer></ry-footer>
