<div class="container-fluid">
  <div class="row my-5">
    <div class="col-md col-sm-12">
      <div class="display-4 animated slideInLeft">Spending made <b>easy</b></div>
      <p class="mt-3 lead animated slideInLeft">A smart payment card solution that automates expenses and makes your spending simple to manage.</p>
      <a class="btn btn-success animated slideInLeft" routerLink="/free-trial">Get Started</a>
    </div>
    <div class="col-md col-sm-12">
      <img class="img-fluid pr-3 animated slideInRight" src="./assets/images/landing-main.png">
    </div>
  </div>
  <div class="row mt-6">
    <div class="col">
      <img class="img-fluid d-block mx-auto animated slideInUp" src="./assets/images/company-logos.png" alt="">
      <p class="text-center mt-3 text-soft mb-5">We save you valuable time by integrating with your accounting platform</p>
    </div>
  </div>
</div>
<div class="page-color py-5 px-4">
  <div class="row mb-5">
    <div class="col display-4 text-center">Spend! is perfect for ...</div>
  </div>
  <div class="row">
    <div class="col-md col-sm-12">
      <img class="img-fluid w-75 mb-3 mx-auto d-block" src="./assets/images/business-icon.png" alt="">
      <h4 class="text-center">Businesses</h4>
      <p class="mt-3 text-center">No matter the size of your business, improving the expense process saves time and money. You can easily issue expense
        cards and manage everything in one place.</p>
    </div>
    <div class="col-md col-sm-12">
      <img class="img-fluid w-75 mb-3 mx-auto d-block" src="./assets/images/accountant-icon.png" alt="">
      <h4 class="text-center">Accountants &amp; Bookkeepers</h4>
      <p class="mt-3 text-center">Spend helps accountants and bookkeepers by reducing errors and providing seamless real-time recording of expenses into
        existing accounting packages.</p>
    </div>
    <div class="col-md col-sm-12">
      <img class="img-fluid w-75 mb-3 mx-auto d-block" src="./assets/images/personal-icon.png" alt="">
      <h4 class="text-center">Personal &amp; Families</h4>
      <p class="mt-3 text-center">Individuals can take control of their own and family spending. With better management over their spending, Spend! is
        also the perfect zero-fee travel card.</p>
    </div>
  </div>
</div>
<ry-key-features-page></ry-key-features-page>
<div class="container-fluid">
  <div class="row page-color py-5 my-5">
    <div class="col">
      <p class="text-center"><i class="fa fa-bar-chart fa-4x"></i></p>
      <p class="text-center h3">$7000</p>
      <p class="text-center">per year in expenses for the average expense filer</p>
    </div>
    <div class="col">
      <p class="text-center"><i class="fa fa-window-close fa-4x"></i></p>
      <p class="text-center h3">75%</p>
      <p class="text-center">of employees admit filing an incorrect expense</p>
    </div>
    <div class="col">
      <p class="text-center"><i class="fa fa-clock-o fa-4x"></i></p>
      <p class="text-center h3">23%</p>
      <p class="text-center">of salespeople spend over 3 hours per month filing expenses</p>
    </div>
    <div class="col">
      <p class="text-center"><i class="fa fa-plane fa-4x"></i></p>
      <p class="text-center h3">15%</p>
      <p class="text-center">of average operating expenses are spent on travel &amp; entertainment</p>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-4">
      <img class="img-fluid w-75" src="assets/images/mobile-robot.png" alt="">
    </div>
    <div class="col-8">
      <p class="display-4">Simplify expenses and take control</p>
      <p>Take expense automation further with Expend’s combination of app, card and online dashboard. Expend efficiently records your expenses and automatically syncs them with your accounting package.</p>
      <p>No forms or piles of receipts. With closer control over business spending, Expend’s easy solution transforms the frustrating expense claim process and improves your company’s financial efficiency.</p>
    </div>
  </div>
</div>
<ry-footer></ry-footer>
