<nav class="navbar navbar-expand-sm navbar-light bg-white fixed-top">
  <a class="navbar-brand" href="#">Spend!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">How &amp; Why</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-primary" href="#">Start Free Trail</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row my-5">
    <div class="col-md col-sm-12">
      <div class="display-4">Spending made <b>easy</b></div>
      <p class="mt-3 lead">A smart payment card solution that automates expenses and makes your spending simple to manage.</p>
      <a class="btn btn-success" href="">Get Started</a>
    </div>
    <div class="col-md col-sm-12">
      <img class="img-fluid pr-3" src="./assets/images/landing-main.png">
    </div>
  </div>
  <div class="row mt-6">
    <div class="col">
      <img class="img-fluid d-block mx-auto" src="./assets/images/company-logos.png" alt="">
      <p class="text-center mt-3 text-soft mb-5">We save you valuable time by integrating with your accounting platform</p>
    </div>
  </div>
</div>
<div class="page-color py-5 px-4">
  <div class="row mb-5">
    <div class="col display-4 text-center">Spend! is perfect for ...</div>
  </div>
  <div class="row">
    <div class="col-md col-sm-12">
      <img class="img-fluid w-75 mb-3 mx-auto d-block" src="./assets/images/business-icon.png" alt="">
      <h4 class="text-center">Businesses</h4>
      <p class="mt-3 text-center">No matter the size of your business, improving the expense process saves time and money. You can easily issue expense
        cards and manage everything in one place.</p>
    </div>
    <div class="col-md col-sm-12">
      <img class="img-fluid w-75 mb-3 mx-auto d-block" src="./assets/images/accountant-icon.png" alt="">
      <h4 class="text-center">Accountants &amp; Bookkeepers</h4>
      <p class="mt-3 text-center">Spend helps accountants and bookkeepers by reducing errors and providing seamless real-time recording of expenses into
        existing accounting packages.</p>
    </div>
    <div class="col-md col-sm-12">
      <img class="img-fluid w-75 mb-3 mx-auto d-block" src="./assets/images/personal-icon.png" alt="">
      <h4 class="text-center">Personal &amp; Families</h4>
      <p class="mt-3 text-center">Individuals can take control of their own and family spending. With better management over their spending, Expend is
        also the perfect zero-fee travel card.</p>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <div class="col"><p class="text-center my-5 display-4">Key Features</p></div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <img class="w-50 d-block mx-auto" src="./assets/images/clock-icon.png" alt="">
      <h4 class="text-center">Save time, money and hassle</h4>
      <p class="text-center">Simplify expense management. Save paperwork, minimise errors and reduce company expenses.</p>
    </div>
    <div class="col-md-4 col-sm-6">
      <img class="w-50 d-block mx-auto" src="./assets/images/paper-icon.png" alt="">
      <h4 class="text-center">Instant reports and filing</h4>
      <p class="text-center">Real-time reports and automatic filing of company expenses into your favourite accounting package.</p>
    </div>
    <div class="col-md-4 col-sm-6">
      <img class="w-50 d-block mx-auto" src="./assets/images/mag-icon.png" alt="">
      <h4 class="text-center">Real-time visibility</h4>
      <p class="text-center">mprove company cash flow and spending insight. Track all of your business transactions in real time.</p>
    </div>
    <div class="col-md-4 col-sm-6">
      <img class="w-50 d-block mx-auto" src="./assets/images/card-icon.png" alt="">
      <h4 class="text-center">Track spending</h4>
      <p class="text-center">Control expenditure and reduce expense fraud. Allocate budgets, set restrictions, and monitor purchases.</p>
    </div>
    <div class="col-md-4 col-sm-6">
      <img class="w-50 d-block mx-auto" src="./assets/images/piggy-icon.png" alt="">
      <h4 class="text-center">Smart savings</h4>
      <p class="text-center">No expensive credit card fees, overdraft charges or the need for large banking facilities.</p>
    </div>
    <div class="col-md-4 col-sm-6">
      <img class="w-50 d-block mx-auto" src="./assets/images/people-icon.png" alt="">
      <h4 class="text-center">Flexible for all employees</h4>
      <p class="text-center">Limit funds to fit your requirements. Perfect for both permanent and temporary staff.</p>
    </div>
  </div>
</div>
<div class="bg-light">
  <div class="row p-3">
    <div class="col">Terms &amp; Conditions</div>
    <div class="col">Privacy Policy</div>
    <div class="col">Copyright &copy; Spend! Exterprise</div>
  </div>
</div>
