<nav class="navbar navbar-expand-sm navbar-light bg-white fixed-top">
  <a class="navbar-brand mr-5" routerLink="/">Spend!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/how-why">How &amp; Why</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
    <a class="nav-link btn btn-primary text-light" routerLink="/free-trial">Start Free Trail</a>
  </div>
</nav>
<div class="navbar-gap">
  <router-outlet (activate)="onActivate()"></router-outlet>
</div>
