<div class="component">
  <div class="row">
    <div class="col">
      <img class="img-fluid d-block mx-auto mt-5 mb-3" src="assets/images/signup/spend-robot-signup.png" alt="">
      <p class="text-center">Need more info? Learn how Expend works by clicking here or contact us via our live support (bottom right).</p>
      <p class="display-4 text-center mt-3 mb-5">Please enter your details</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet name="signup"></router-outlet>
    </div>
  </div>
</div>
<div class="mt-5">
  <ry-footer></ry-footer>
</div>
